<main>
  <div class="position-relative overflow-hidden p-3 text-center bg-light m-4">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Carlos De La Cruz Cinema</h1>
      <p class="lead fw-normal">
        This is a project for the Angular training in Accenture for learning
        about the technology and just practice a little bit.
      </p>
      <a class="btn btn-outline-secondary" [routerLink]="['/movies']"
        >Let's start</a
      >
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
  </div>
</main>
