<!-- Image by <a href="https://www.freepik.com/free-photo/popcorn-box-filled-with-salty-fluffy-popcorns_4822380.htm#page=2&query=movie%20theater%20snacks&position=19&from_view=keyword&track=ais&uuid=f330322c-c91d-47d7-be54-c0ac977589dc">Freepik</a> -->
<!-- Image by <a href="https://www.freepik.com/free-photo/still-life-with-gummy-bears_39572844.htm#query=movie%20theater%20gummy&position=28&from_view=search&track=ais&uuid=9a4be01a-297e-443b-9251-82198380f843">Freepik</a> -->
<!-- Image by: https://www.freepik.com/free-photo/close-up-delicious-chocolate-cupcakes-with-raspberry_11106564.htm?query=movie%20theater%20gummy#from_view=detail_alsolike -->
<!-- Image by: https://www.freepik.com/free-photo/top-view-popcorn-chips-bowls-black-horizontal_7857607.htm#query=movie%20bowl&position=8&from_view=keyword&track=ais&uuid=1bc9e75b-1b84-4a4a-bf90-b407625498ad -->
<!-- Photo by Ron Lach : https://www.pexels.com/photo/a-glass-of-iced-cola-8879617/ -->

<div class="row row-cols-1 row-cols-md-3 mb-3">
  <div class="col" *ngFor="let snack of food">
    <app-card topImage="{{ snack.imgUrl }}">
      <h5 class="card-title">{{ snack.name }}</h5>
      <p class="card-text">{{ snack.description }}</p>
      <p class="fs-5 text-info">{{ snack.price | currency }}</p>
      <div class="mb-2">
        <label class="form-label" for="popcorn">Item quantity:</label>
        <input
          [(ngModel)]="foodInputs[snack.id]"
          min="1"
          max="20"
          type="number"
          id="{{ snack.name + '_' + snack.id }}"
          class="form-control form-control-sm"
        />
      </div>
      <app-button
        buttonText="Add to cart"
        class="btn-sm w-100"
        (click)="addFoodToCart(snack.id)"
      />
    </app-card>
  </div>
</div>
